/*

Theme Name: RoraimaNET
Theme URI:
Description: Tema personalizado RoraimaNET
Author: Soma Virtual
Author URI: http://www.somavirtual.com.br
Version: 2.0

*/

@charset "utf-8";
@import "css/flexboxgrid.min.css";
//@import "css/animate.css";


// ===============================
// VARIABLES
// ===============================

//colors
$primary-color :  #0067a3;//azul
$secondary-color: #00aadd;//azul claro
// $primary-color :  #0fa214;
// $secondary-color: #0d7410;
$light:           #FFF;
$dark:            #4b616c;
// $dark-blue:       #00476f;
// $light-blue:      #0a750e;
$dark-blue:       #0a570d; //verder
$light-blue:      #57ce5b; //ver cl
$error:           #FF4747;
$alert:           #e2df9a;

// ===============================
// MIXINS
// ===============================
@mixin transformTranslate($x,$y) {
  -webkit-transform: translate($x,$y);
     -moz-transform: translate($x,$y);
      -ms-transform: translate($x,$y);
       -o-transform: translate($x,$y);
          transform: translate($x,$y);
}

@mixin transform($prop) {
  -webkit-transform: $prop;
     -moz-transform: $prop;
      -ms-transform: $prop;
       -o-transform: $prop;
          transform: $prop;  
}
@mixin transition($prop) {
  -webkit-transition: $prop;
     -moz-transition: $prop;
      -ms-transition: $prop;
       -o-transition: $prop;
          transition: $prop;
}

@mixin breakpoint($break) {
    @if $break == 1920 {
        @media (max-width: 1920px) { @content; }
    }
    @else if $break == 1440 {
        @media (max-width: 1440px) { @content; }
    }
    @else if $break == 1366 {
        @media (max-width: 1366px) { @content; }
    } 
    @else if $break == 1024 {
        @media (max-width: 1024px) { @content; }
    }
    @else if $break == 800 {
        @media (max-width: 800px) { @content; }
    }
    @else if $break == 640 {
        @media (max-width: 640px) { @content; }
    }
    @else if $break == 480 {
        @media (max-width: 480px) { @content; }
    }
    @else if $break == 360 {
        @media (max-width: 360px) { @content; }
    }
    @else if $break == 320 {
        @media (max-width: 320px) { @content; }
    }
    @else {
        @media ($break) { @content; }
    }
}

@mixin hovers($break) {
    @if $break == 1025 {
        @media (min-width: 1025px) { @content; }
    }
}
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
// ===============================
// FONTS
// ===============================
@font-face {
    font-family: "MerriweatherSans-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/MerriweatherSans-Regular.woff") format("woff"),
         url("fonts/MerriweatherSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "MerriweatherSans-light";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/MerriweatherSans-light.woff") format("woff"),
         url("fonts/MerriweatherSans-light.woff2") format("woff2");
}

@font-face {
    font-family: "MerriweatherSans-Bold";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/MerriweatherSans-Bold.woff") format("woff"),
         url("fonts/MerriweatherSans-Bold.woff2") format("woff2");
}
// ===============================
// RESET
// ===============================
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
  font-family: "MerriweatherSans-Regular";
}
img {
    max-width: 100%;
}
a,
button,
input {
    text-decoration: none;
    outline: none;
}
ul {
    list-style: none;
}
/*=============================
    CONTAINER
=============================*/
.main-container {
    overflow: hidden;
}
.content {
    padding-bottom: 70px;
}
.row{
    margin: 0;
}
.centered-container {
    max-width: 1200px;
    margin: 0 auto;
}
.centered-small-container {
    max-width: 900px;
    margin: 0 auto;
}
.entry-content {
    position: relative;
    margin: 0 auto;

    h1,h2,h3,h4,h5,h6{
        color: #5e5e5e;
         margin-bottom: 30px;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 26px;
    }
    h3{
        font-size: 22px;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 14px;
    }
    h6{
        font-size: 14px;
    }
    p{
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 30px;
        color: $dark;
    }
    // p:not(:last-child){
    //     margin-bottom: 30px;
    // }
    strong{
        font-weight: bold;
        
    }
    a{
        
        text-decoration: underline;
    }
    a:hover{
        
    }
    ul,ol {
        padding-left: 20px;
        margin-bottom: 30px;
    }
    ul{
        list-style: disc;
    }
    ul li,
    ol,li {
        font-size: 14px;
        margin-bottom: 20px;
        font-size: 16px;
        color: #5e5e5e;
    }
    img {
        height: auto;
    }
    .aligncenter {
        display: block;
        padding: 20px 0;
        margin: 0 auto;
    }
    iframe {
        display: block;
        max-width: 1000px;
        margin: 20px auto;
    }
    .border-bottom {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 20px;
        font-size: 22px;
        border-bottom: 1px solid #ccc;
    }
    .border-bottom img {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .alignright {
        float: right;
    }
    .gallery{
        margin-bottom: 30px !important;
    }
    .gallery .gallery-item{
        padding: 0 5px;
        text-align: center;
        margin-bottom: 30px;

        @include breakpoint(480){
            width: 100% !important;
        }
    }
    .gallery .gallery-item img{
        border: none !important;
        margin-bottom: 20px;
    }
    .gallery-caption{
        font-size: 14px;
        color: $dark;
        line-height: 2;
        padding: 0 1em;

        div{
            padding-top: 10px;
            font-size: 12px;
        }
    }
    .subsection{
        margin-bottom: 60px;
    }
    table{
        border: 1px solid #888;
        border-collapse: collapse;
    }
    table th,
    table td{
        font-family: 'MerriweatherSans-light';
        padding: 10px;
        border: 1px solid #aaa;
        text-align: center;
        font-size: 14px;
    }
    table th{
        background: $primary-color;
        color: #FFF;
    }
    table td{
        background: #FFF;
        color: #363636;
    }
}
// ===============================
// TITLES
// ===============================
.default-title{
    font-size: 20px !important;
    margin-bottom: 40px; 
    line-height: 1;  
    padding: 8px 0;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: lighter;
    
    span{
        position: relative;
        display: inline-block;
        &:before{
            content: '\2022  \2022  \2022  '; 
        }
    }
}
.small-title{
    max-width: 320px;
}
.green-title{
    @extend .default-title;
}
.title-2{
    font-family: 'Another Shabby';
    font-size: 36px;
    margin-bottom: 30px;
    
}
// ===============================
// BUTTONS
// ===============================
.btn{
    font-family: 'MerriweatherSans-Bold';
    display: inline-block;
    padding: 15px 35px;
    font-family: inherit;
    font-size: 14px !important;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    margin: 0 10px;
    color: #FFF !important;
    border: 3px solid;
    border-radius: 25px;
    text-decoration: none !important;
    @include transition(all .2s linear);
}
.btn-light{
    color: $light;
    border-color: $light;

    &:hover{
        background: $light;
        color: $dark !important;
    }
}
.btn-primary{
    color: $primary-color;
    background: $primary-color;

    &:hover{
        background: $secondary-color;
    }
}
/*=============================
      BREADCRUMB
=============================*/
#breadcrumbs {
    overflow: hidden;
    list-style: none;
    margin-bottom: 30px;
    padding: 10px 0;

    li{
        display: inline;
        vertical-align: middle;
    }
    a {
        font-size: 14px;
        color: $dark;

        &:hover{
            text-decoration: underline;
        }
    }
    .item-current strong {
        font-size: 14px;
        color: $dark;
    }
    .separator {
        font-size: 18px;
        font-weight: 100;
        color: $dark;
    }
}
/*=============================
      HEADER
=============================*/
header{
    z-index: 2;
    padding: 15px 0;

    background: $primary-color;

    @include breakpoint(1024){
        padding: 10px 1em;
    }
}
.header-logo {
    float: left;

    @include breakpoint(1024){
       width: 350px;
       margin-left: 10%;
    }

     @include breakpoint(480){
        float: none;
        width: 235px;
        margin: 0 auto;
    }
}
.social-list{
    li{
        display: inline-block;
    }
}
.top-phones-box{
    float: right;
    padding-top: 15px;

    p{
        font-size: 14px;
        color: $light;
        margin-bottom: 15px;
    }

    @include breakpoint(640){
        float: none;
        text-align: center;
    }
}

/*=============================
    MAIN MENU
=============================*/
nav.main-menu {
    width: 100%;
    background: rgba($secondary-color, 0.9);
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;

    .menu-nav-container{
        display: inline-block;

        @include breakpoint(1024){
            display: block;
        }
    }

    @include breakpoint(1024){
        position: fixed !important;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        z-index: 9990;
        padding-top: 50px;
        overflow-y: auto;
        @include transition(all .3s);
        @include transformTranslate(-100%,0);
    }
}
.menu {
    position: relative;
    text-align: center;
}
.menu > li {
    position: relative;
    display: inline-block;
    
    @include hovers(1025){
        &:hover .sub-menu-wrap{
            padding-top: 5px;
            pointer-events: auto;
            opacity: 1;
        }
    }
    @include breakpoint(1024){
        display: block;
        text-align: left;
        border-bottom: 1px solid #FFF;
    }
}
.menu > li > a {
    display: block;
    font-size: 14px;
    color: #FFF;
    padding: 15px;

    @include transition(all .3s);

    @include hovers(1025){
        &:hover{
            background:  $primary-color;
        }
    }
}
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1  ;
    padding-top: 0;
    pointer-events: none;
    opacity: 0;
    @include transition(all .3s);

    @include breakpoint(1024){
        opacity: 1;
        position: static;
        -webkit-transition-property: none;
        transition-property: none;
        pointer-events: auto;
        display: none;
    }
}
.sub-menu {
    width: 250px;
    padding: 10px 0;
    border-top: none;
    background: rgba(255, 255, 255, .9);
}
.sub-menu > li {
    display: block;
}
.sub-menu > li > a {
    text-align: left;
    
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    -webkit-transition: all .3s;
            transition: all .3s;
}
.sub-menu > li:hover > a {
    color: #FFF;
}
.showMenu {
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
}
.menu-button{
    position: fixed;
    width: 30px;
    height: 30px;
    top: 25px;
    left: 3%;
    z-index: 9998;
    cursor: pointer;
    display: none;
    @include transition(all .3s ease);

    @include breakpoint(1024){
        display: block;
    }
}
.menu-rotate{
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.menu-button div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    background: #FFF;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    @include transition(all .3s);
    @include transformTranslate(-50%,-50%);
}
.menu-button div:before,
.menu-button div:after{
    content: '';
    width: 30px;
    height: 4px;
    position: absolute;
    background: #FFF;
    @include transition(all .3s);
}
.menu-button div:before{
    transform: translateY(-10px);
}
.menu-button div:after{
    transform: translateY(10px);
}
.menu-button-active{
    background: transparent !important;
}
.menu-button-active:before{
    transform: translateY(0) rotate(45deg) !important;
    background: #fff !important;
}
.menu-button-active:after{
    transform: translateY(0) rotate(-45deg) !important;
    background: #fff !important;
}
// =============================
//     FOOTER
// =============================
.map{
    position: relative;
    cursor: pointer;

    #localmap{
        height: 300px;
        width: 100%;
    }
}
footer {
    position: relative;
    // background: $dark-blue;
    background: $primary-color;
    padding: 50px 15px 0;
    background-size: cover;

    .footer-logo{
        text-align: center;
        margin-bottom: 50px;
    }
    .info-box{
        padding-top: 30px;
    }
    p{
        position: relative;
        font-size: 14px;
        color: #FFF;
        margin-bottom: 20px;
        padding-left: 25px;
        max-width: 300px;

        img{
            position: absolute;
            top: 50%;
            left: 0;
            @include transformTranslate(0,-50%);
        }

        @include breakpoint(800){
            margin: 0 auto 15px;
        }
    }
    .footer-menu{
        padding-left: 2em;

        li{
            
        }
        a{
            font-size: 12px;
            display: block;
            color: #FFF;
            padding: 6px 0;
            text-transform: uppercase;
            @include transition(color .2s linear);
            &:hover{
                
            }
        }
    }
    .footer-midia{
        max-width: 500px;
        margin: 0 auto 30px;

        .instagram-link{
            font-family: 'MerriweatherSans-Bold';
            font-size: 14px;
            display: block;
            text-align: right;
            color: #FFF;
            margin-bottom: 10px;
            font-style: italic;
            @include transition(all .3s);

            &:hover{
                color: $secondary-color;
            }
        }
    }
    .facebook-box{
    }
    .footer-social-list{
        li{
            display: inline-block
        }
        a{
            color: #FFF;
            padding: 0 5px;
            @include transition(color .3s linear);
            &:hover{
                
            }
        }
        i{
            font-size: 30px;
        }
    }
}

.credit{
    background: $primary-color;
    border-bottom: 8px solid $secondary-color;

    div {
        display: flex;
        align-items: right;
        color: #FFF;
        font-size: 14px;
    }
    p{
        margin-left: auto;
    }
    img[src*="logo-soma-virtual"]{
        margin: 0 10px;
    }
}
/*=============================
    BANNERS
===============================*/
.banner{
    position: relative;
    // overflow: hidden;
}
.banner-nav{
    width: 40px;
    line-height: 40px;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    position: absolute;
    top:  50%;
    z-index: 1;
    cursor: pointer;
    @include transition(all .3s);
    @include transformTranslate(0, -50%);

    &:hover{
        background: $primary-color;
        border-color: $primary-color;
    }
}
.banner-nav:hover{

}
.banner-nav-prev{
    left: 18.5%;

    @include breakpoint(1024){
        left: 5%;
    }
}
.banner-nav-next{
    right: 18.5%;

    @include breakpoint(1024){
        right: 5%;
    }
}
.banner-item {
    height: 800px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    img{
        max-width: initial;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transformTranslate(-50%,-50%);
    }

    @include breakpoint(1366){
        height: 600px;
    }
    @include breakpoint(1024){
        height: 500px;
    }
    @include breakpoint(640){
        height: 280px;
    }
}
.legenda{
    position: absolute;
    text-align: center;

    @include breakpoint(1024){
        padding: 15px;
        max-width: 350px;
    }
}
.legenda h1{
    font-family: 'MerriweatherSans-Bold';
    font-size: 40px;
    line-height: 1.3;
    text-transform: uppercase;
    
    opacity: 0;
    margin-bottom: 0;

    @include breakpoint(1024){
        font-size: 28px;
    }

    @include breakpoint(640){
        font-size: 20px;
    }
}
.legenda h4{
    color: #FFF;
    text-transform: uppercase;
    opacity: 0;
    margin-bottom: 0;
}
.banner-holder .slick-current .legenda h1{
    -webkit-animation: showLegenda 1.5s .3s forwards;
    animation: showLegenda 1.5s .3s forwards;
}
.banner-holder .slick-current .legenda h4{
    -webkit-animation: showLegenda .8s .8s forwards;
    animation: showLegenda 1.5s .8s forwards;
}
@keyframes showLegenda{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes showSubLegenda{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.branca{
    color: $light;
}
.escura{
    color: $dark;
}
.centro{
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.centro h1{
    text-align: center;
}
.esquerda{
    top: 50%;
    left: 25%;
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.direita{
    top: 50%;
    right: 25%;
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.inferior{
    left: 50%;
    bottom: 100px;
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.inferior h1{
    text-align: center;
}
.inferior_esquerda{
    left: 25%;
    bottom: 100px;
}
.inferior_direita{
    right: 25%;
    bottom: 100px;
}
@include breakpoint(1024){
    .inferior,
    .inferior_esquerda,
    .inferior_direita{
        bottom: 100px;
    }
}
@include breakpoint(640){
   .esquerda,
   .direita,
   .inferior_esquerda,
   .inferior_direita{
        text-align: center;
        top: auto;
        left: 50%;
        bottom: 40px;
        right: auto;
        @include transformTranslate(-50%,0);
   }
}
.banner-holder{
    position: relative;

    .slick-dots{
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .slick-dots li{
        display: inline-block;
        margin: 0 5px;
    }
    .slick-dots li button{
        border: none;
        width: 10px;
        height: 10px;
        color: #FFF;
        cursor: pointer;
        background: #FFF;   
        font-size: 0;
        border-radius: 50%;
    }
    .slick-dots li.slick-active button{
        background: $secondary-color;
    }
}
/*===============================
    HOME
=================================*/
.section{
    padding: 50px 0;

    @include breakpoint(640){
        padding: 30px 0;
    }
}
.presentaion-section{
    background: url('img/bg-bubbles.png') left center no-repeat;
    z-index: 1;
}
.quick-links{
    display: flex;
    flex-flow: row wrap;

    @include breakpoint(640){
        margin-bottom: 30px;
    }

    div{
        width: 50%;
        border: 2px dotted $light-blue;
        padding: 5px;

        &:nth-child(1){
            border-bottom: none;
        }
        &:nth-child(2){
            border-left: none;
            border-bottom: none;
        }
        &:nth-child(4){
            border-left: none;
        }
    }

    a{
        display: block;
        height: 150px;
        padding: 30px 20px;
        background: #FFF;
        @include transition(all .3s);

        &:hover{
            background: $light-blue;

            h5{
                color: $light;
            }
            p{
                color: $light;
            }
        }

        h5{
            font-size: 16px;
            text-transform: uppercase;
            color: $dark;

        }
        p{
            font-size: 14px;
            color: $secondary-color;
        }
    }
}
.centered{
    position: absolute !important;
    width: 100%;
    top: 50%;
    left: 50%;
    @include transformTranslate(-50%,-50%);

    @include breakpoint(640){
        position: static !important;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    
    .procedures-list{
        max-height: initial;
    }

}
.procedures-list-wrapper{
    position: relative;

     .showProc{
        width: 80px;
        height: 30px;
        line-height: 25px;
        border-radius: 50% / 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        font-size: 23px;
        text-align: center;
        color: #FFF;
        background: rgba($primary-color, 0.8);
        border-top: none;
        position: absolute;
        cursor: pointer;
        left: 50%;
        top: 100%;
        @include transformTranslate(-50%, 0);
    }
}
.procedures-list{
    position: relative;
    padding: 18px 10px 10px;
    width: 100%;
    max-width: 360px;
    background: rgba($primary-color, 0.8);
    min-height: 550px;
    max-height: 550px;
    overflow: hidden;
    z-index: 1;
    margin: 0 auto 30px;
    @include transition(all .3s);

    li{
        border-bottom: 1px solid $light;

        &:first-child{
            background: $light;
            padding: 15px;
            margin-bottom: 20px;
            color: $dark;
            text-transform: uppercase;
        }
        &:first-of-type,
        &:last-of-type{
            border-bottom: none;
        }

        a{
            display: block;
            font-size: 14px;
            color: $light;
            padding: 18px;
            @include transition(all .3s);

            &:hover{
                background: $secondary-color;
            }
        }
    }
}
.full-list{
    max-height: initial !important;
}
.about-section{
    background: url('img/bg-about.jpg') center center no-repeat fixed;
    background-size: cover;

    img{
        margin-bottom: 20px;
        border-radius: 50%;
    }
    h4{
        font-family: 'MerriweatherSans-Bold';
        font-size: 22px;
        color: $light;
    }

    p{
        font-size: 14px;
        color: $light;
        line-height: 2;
        margin-bottom: 20px;
    }

    hr{
        max-width: 900px;
        border: 0;
        background: rgba(#FFF, 0.6);
        margin: 0 auto 20px;
        height: 2px;
    }
}
.scheduling-section{
    background: url('img/bg-scheduling.jpg') center center no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 100px;

    @include breakpoint(1024){
        padding-top: 100px;
    }

    h2{
        font-size: 38px;
        color: #6c90bc;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        margin-bottom: 50px;

        span{
            color: $dark;
            font-size: 26px;
            line-height: 1;
        }
    } 

    .scheduling-form{
        background: rgba($secondary-color, 0.9);
        padding: 30px 20px;
    
        div:not(:last-of-type){
            border-bottom: 1px solid #FFF;
        }

        input{
            width: 100%;
            background: transparent;
            color: #FFF;
            height: 65px;
            padding-left: 20px;
            border: none;
            
            &:focus{
                border-color: $primary-color;
            }
            &::-webkit-input-placeholder{
                color: #FFF;
            }
            &::-moz-placeholder{
                color: #FFF;
            }
        }
    }
}
.testimonials-section{
    z-index: 1;

    h2{
        position: relative;
        font-size: 18px;
        text-transform: uppercase;
        color: $light;
        background: $primary-color;
        padding: 60px 0;
        text-align: center;

        &:after{
            content: '';
            border-top: 30px solid $primary-color;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            position: absolute;
            top: 100%;
            left: 50%;
            @include transformTranslate(-50%, 0);
        }
    }
    .testimonials-carousel-wrapper{
        background: $secondary-color;
        padding: 50px 0;
    }
    .testimonials-carousel{
        .slick-slide{
            padding-top: 50px;
        }
    }
    .testimonial{
        position: relative;
        max-width: 300px;
        margin: 0 auto;

        &:before{
            content: '';
            width: 28px;
            height: 28px;
            background: url('img/quote-mark.png') center center no-repeat;
            background-size: cover;
            position: absolute;
            right: 100%;
            bottom: 95%; 
        }

        blockquote{
            font-size: 14px;
            color: #FFF;
            text-align: center;
            margin-bottom: 30px;
        }
        p{
            font-size: 14px;
            color: #FFF;
            text-align: right;
        }
    }
}
// =============================
//     PAGE
// =============================
.page-content{
    padding-bottom: 100px;
    background: url('img/bg-bubbles.png') left bottom no-repeat;

    @include breakpoint(640){
        background: transparent;
    }
}
.page-title{
    font-family: 'MerriweatherSans-Bold';
    font-size: 24px;
    text-transform: uppercase;
    color: $dark;
    margin-bottom: 40px;
}
.social-share{
    li{
        display: inline-block;
    }
    a{
       i{
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            background: #ababab;
            text-align: center;
            color: #FFF;
            @include transition(all .3s);

            &:hover{
                background: $secondary-color;
            }
       }
    }
}
.page-equipe,
.page-oncoclin,
.page-contato{
    .social-share{
        text-align: center;
    }
}
// =============================
//     PAGE
//     - Dr. Jefferson
// =============================
.doctor-image{
    margin-bottom: 50px;
    text-align: center;

    img{
        border-radius: 50%;
        border: 2px solid #CCC;
        height: auto;
    }
}
// =============================
//     PAGE
//     - Equipe
// =============================

// =============================
//     PAGE
//     - Doenças Tratadas
// =============================
.disease-list{
    margin-bottom: 50px;

    li{
        font-size: 14px;
        color: $dark;
        margin-bottom: 15px;
    }
    li.list-header{
        font-size: 36px;
    }
}
// =============================
//     PAGE
//     - DICAS
// =============================
.news-item{
    display: block;
    max-width: 280px;
    margin: 0 auto 50px;
    
    a{
        display: block;
    }
    figure{
        position: relative;
        height: 250px;
        overflow: hidden;
        margin-bottom: 20px;
        border: 1px solid rgba($primary-color, .4);

        &:after{
            content: '';
            width: 100%;
            height: 100%;
            background: rgba($primary-color, .6);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            @include transition(opacity .3s);
        }
        &:hover{
            &:after{
                opacity: 1;
            }
            img{
                filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
            }
        }

        img{
            max-width: initial;
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transformTranslate(-50%,-50%);
        }
    }
    p{
        font-size: 14px;
        color: $dark;
        line-height: 1.8;
        text-align: center;
        margin-bottom: 15px;
    }
}
.post-thumbnail{
    margin-bottom: 30px;

    img{
        height: auto;
        display: block;
    }
}
.pagination{
    text-align: center;
}
.pagination a,
.pagination span{
    width: 30px;
    height: 30px;
    color: $primary-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $primary-color;
    @include transition(all .3s);
}
.pagination a:hover,
.pagination .current{
    background: $primary-color;
    color: #FFF;
}
// =============================
//     PAGE
//     - CONTATO
// =============================
.contact-info{
    margin-bottom: 30px;

    p{
        text-align: center;
        color: $dark;
    }
}
.doctor-caricature{
    text-align: center;

    img{
        margin-bottom: 20px;
    }
    p{
        font-size: 18px;
    }
    p:nth-of-type(1){
        color: $dark;
    }
    p:nth-of-type(2){
        color: $secondary-color;
        margin-bottom: 20px;
    }
}

// =============================
//     FORMULÁRIOS
// =============================

.default-form{
    max-width: 630px;
    margin: 0 auto 50px;

    form div{
       margin-bottom: 30px;
    }
    input[type="text"],
    input[type="email"],    
    input[type="tel"],
    input[type="date"],
    input[type="password"],
    select,
    textarea {
        font-family: inherit;
        width: 100%;
        padding-left: 20px;
        font-size: 16px;
        -webkit-transition: all .4s;
           -moz-transition: all .4s;
            -ms-transition: all .4s;
             -o-transition: all .4s;
                transition: all .4s;
        border-top: none;
        border: 1px solid #CCC;
        outline: none;
        background: #FFF;
        color: $dark;
    }
        input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="password"],
    select {
        height: 50px;
        border-radius: 60px;
    }
     input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    input[type="date"]:focus,
    input[type="password"]:focus,
    select:focus,
    textarea:focus {
       
    }
    select option {
        padding: 5px 10px;
        font-size: 18px;
        color: #333;
    }
    select {
        cursor: pointer;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }
    .select-mask {
        position: relative;
    }
    .select-mask .fa {
        content: "";
        position: absolute;
        top: 12px;
        right: 20px;
        pointer-events: none;
        font-size: 25px;
        color: #272525;
        cursor: pointer;
    }
    input[type="text"]:hover + label {
        transform: translateX(-100%);
    }
    textarea {
        height: 130px;
        padding-top: 10px;
    }
    button[type="submit"] {
        border: none;
    }

    /* messages */
}
.wpcf7-response-output {
        z-index: 8888;
        width: 100%;
        padding: 10px 0 !important;
        font-size: 16px;
        text-align: center;
        border: none !important;
        margin: 0 !important;
        color: #FFF;
    }
    .wpcf7-validation-errors{
        background: $secondary-color;
    }
    .wpcf7-mail-sent-ok {
        background: $primary-color;
    }
    .wpcf7-mail-sent-ng {
        background: $error;
    }
    .wpcf7-form-control-wrap{
        position: relative;
        display: block;
    }
    .wpcf7-not-valid-tip {
        position: absolute;
        bottom: 100%;
        right: 10px;
        font-size: 12px !important;
        padding: 3px 6px;
        color: #FFF !important;
        background: $secondary-color;
    }
    .wpcf7-not-valid-tip:after{
        content: '';
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-top: 10px solid $secondary-color;
        position: absolute;
        top: 100%;
        right: 15px;
    }
.showForm{
    display: block !important;
}
/*##################################

  PESQUISA

#####################################*/
.search-btn {
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    z-index: 1;

    @include breakpoint(1024){
        margin-left: 0;
        padding: 5px;
    }
}
.search-btn .search-inner{
    position: relative;
    z-index: 1;

    @include breakpoint(1024){
        display: none;
    }
}
.search-btn i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: $light;
    text-align: center;
    color: $secondary-color;
    font-size: 20px;
    cursor: pointer;
    @include transition(all .3s);

    &:hover{
        color: #FFF;
        background: $primary-color;
    }
}
.search-active{
    color: #333 !important;
}
.search-form-wrap{
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    right: 0; 
    background: rgba($dark, 0.8);
    padding: 10px;  

    @include breakpoint(1024){
        position: static;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
    }
}
.search-form{
        
}
.search-form input{
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 15px;
    color: $dark;
    font-size: 16px;

    &::-webkit-input-placeholder {
       
    }

    &:-moz-placeholder { /* Firefox 18- */
         
    }

    &::-moz-placeholder {  /* Firefox 19+ */
         
    }

    &:-ms-input-placeholder {  
         
    }
}
.search-form button{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    background: transparent;
    width: 40px;
    height: 40px;
    background: #FFF;
}
.search-form button:hover{
    color: #FFF;
}
.search-form button:hover + input{

}
.search-form button span{
    position: absolute;
    top: 50%;
    left: 50%;
    @include transformTranslate(-50%,-50%);
}
.search-opened{
    opacity: 1 !important;
    pointer-events: auto !important;
    right: 100%;
}
.search-result{
    display: block;
    padding: 20px;
    // margin-bottom: 30px;
    text-decoration: none !important;
    @include transition(all .3s);
    
    &:not(:last-of-type){
        border-bottom: 1px solid $secondary-color;
    }
    &:hover{
        box-shadow: 5px 0 0  $primary-color inset ; 

        h3{
            
        }
    }
    h3{
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 0;
    }
}
.showSubmenu {
    pointer-events: auto !important;
    opacity: 1 !important;
}
@keyframes hideResponse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes hideResponse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/*CLASSES GENERICAS*/
.cf:after {
    display: table;
    clear: both;

    content: "";
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 15;
    display: none;
    width: 50px;
    height: 50px;
    font-size: 45px;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}
.backToTop:hover{
}
.backToTop i {
    line-height: 1;
}
.pace {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
            pointer-events: none;

    -webkit-pointer-events: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 2000;
    width: 100%;
    height: 5px;
    background: #867162;
}
.margin-bottom{
    margin-bottom: 30px;
}
.no-margin {
    margin: 0 !important;
}
.no-padding{
    padding: 0;
}
.modal{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.8);
    /* z-index: 9991; */
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.content-padding-bottom{
    padding-bottom: 100px;
}
.relative{
    position: relative;
}
/* ----------------------- */
