/*

Theme Name: RoraimaNET
Theme URI:
Description: Tema personalizado RoraimaNET
Author: Soma Virtual
Author URI: http://www.somavirtual.com.br
Version: 2.0

*/
@import url(css/flexboxgrid.min.css);

@font-face {
  font-family: "MerriweatherSans-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/MerriweatherSans-Regular.woff") format("woff"), url("fonts/MerriweatherSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "MerriweatherSans-light";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/MerriweatherSans-light.woff") format("woff"), url("fonts/MerriweatherSans-light.woff2") format("woff2");
}

@font-face {
  font-family: "MerriweatherSans-Bold";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/MerriweatherSans-Bold.woff") format("woff"), url("fonts/MerriweatherSans-Bold.woff2") format("woff2");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "MerriweatherSans-Regular";
}

img {
  max-width: 100%;
}

a,
button,
input {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
}

/*=============================
    CONTAINER
=============================*/
.main-container {
  overflow: hidden;
}

.content {
  padding-bottom: 70px;
}

.row {
  margin: 0;
}

.centered-container {
  max-width: 1200px;
  margin: 0 auto;
}

.centered-small-container {
  max-width: 900px;
  margin: 0 auto;
}

.entry-content {
  position: relative;
  margin: 0 auto;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  color: #5e5e5e;
  margin-bottom: 30px;
}

.entry-content h1 {
  font-size: 32px;
}

.entry-content h2 {
  font-size: 26px;
}

.entry-content h3 {
  font-size: 22px;
}

.entry-content h4 {
  font-size: 18px;
}

.entry-content h5 {
  font-size: 14px;
}

.entry-content h6 {
  font-size: 14px;
}

.entry-content p {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #4b616c;
}

.entry-content strong {
  font-weight: bold;
}

.entry-content a {
  text-decoration: underline;
}

.entry-content ul,
.entry-content ol {
  padding-left: 20px;
  margin-bottom: 30px;
}

.entry-content ul {
  list-style: disc;
}

.entry-content ul li,
.entry-content ol,
.entry-content li {
  font-size: 14px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #5e5e5e;
}

.entry-content img {
  height: auto;
}

.entry-content .aligncenter {
  display: block;
  padding: 20px 0;
  margin: 0 auto;
}

.entry-content iframe {
  display: block;
  max-width: 1000px;
  margin: 20px auto;
}

.entry-content .border-bottom {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
}

.entry-content .border-bottom img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.entry-content .alignright {
  float: right;
}

.entry-content .gallery {
  margin-bottom: 30px !important;
}

.entry-content .gallery .gallery-item {
  padding: 0 5px;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  .entry-content .gallery .gallery-item {
    width: 100% !important;
  }
}

.entry-content .gallery .gallery-item img {
  border: none !important;
  margin-bottom: 20px;
}

.entry-content .gallery-caption {
  font-size: 14px;
  color: #4b616c;
  line-height: 2;
  padding: 0 1em;
}

.entry-content .gallery-caption div {
  padding-top: 10px;
  font-size: 12px;
}

.entry-content .subsection {
  margin-bottom: 60px;
}

.entry-content table {
  border: 1px solid #888;
  border-collapse: collapse;
}

.entry-content table th,
.entry-content table td {
  font-family: 'MerriweatherSans-light';
  padding: 10px;
  border: 1px solid #aaa;
  text-align: center;
  font-size: 14px;
}

.entry-content table th {
  background: #0067a3;
  color: #FFF;
}

.entry-content table td {
  background: #FFF;
  color: #363636;
}

.default-title,
.green-title {
  font-size: 20px !important;
  margin-bottom: 40px;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-weight: lighter;
}

.default-title span,
.green-title span {
  position: relative;
  display: inline-block;
}

.default-title span:before,
.green-title span:before {
  content: '\2022  \2022  \2022  ';
}

.small-title {
  max-width: 320px;
}

.title-2 {
  font-family: 'Another Shabby';
  font-size: 36px;
  margin-bottom: 30px;
}

.btn {
  font-family: 'MerriweatherSans-Bold';
  display: inline-block;
  padding: 15px 35px;
  font-family: inherit;
  font-size: 14px !important;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  margin: 0 10px;
  color: #FFF !important;
  border: 3px solid;
  border-radius: 25px;
  text-decoration: none !important;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn-light {
  color: #FFF;
  border-color: #FFF;
}

.btn-light:hover {
  background: #FFF;
  color: #4b616c !important;
}

.btn-primary {
  color: #0067a3;
  background: #0067a3;
}

.btn-primary:hover {
  background: #00aadd;
}

/*=============================
      BREADCRUMB
=============================*/
#breadcrumbs {
  overflow: hidden;
  list-style: none;
  margin-bottom: 30px;
  padding: 10px 0;
}

#breadcrumbs li {
  display: inline;
  vertical-align: middle;
}

#breadcrumbs a {
  font-size: 14px;
  color: #4b616c;
}

#breadcrumbs a:hover {
  text-decoration: underline;
}

#breadcrumbs .item-current strong {
  font-size: 14px;
  color: #4b616c;
}

#breadcrumbs .separator {
  font-size: 18px;
  font-weight: 100;
  color: #4b616c;
}

/*=============================
      HEADER
=============================*/
header {
  z-index: 2;
  padding: 15px 0;
  background: #0067a3;
}

@media (max-width: 1024px) {
  header {
    padding: 10px 1em;
  }
}

.header-logo {
  float: left;
}

@media (max-width: 1024px) {
  .header-logo {
    width: 350px;
    margin-left: 10%;
  }
}

@media (max-width: 480px) {
  .header-logo {
    float: none;
    width: 235px;
    margin: 0 auto;
  }
}

.social-list li {
  display: inline-block;
}

.top-phones-box {
  float: right;
  padding-top: 15px;
}

.top-phones-box p {
  font-size: 14px;
  color: #FFF;
  margin-bottom: 15px;
}

@media (max-width: 640px) {
  .top-phones-box {
    float: none;
    text-align: center;
  }
}

/*=============================
    MAIN MENU
=============================*/
nav.main-menu {
  width: 100%;
  background: rgba(0, 170, 221, 0.9);
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
}

nav.main-menu .menu-nav-container {
  display: inline-block;
}

@media (max-width: 1024px) {
  nav.main-menu .menu-nav-container {
    display: block;
  }
}

@media (max-width: 1024px) {
  nav.main-menu {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 9990;
    padding-top: 50px;
    overflow-y: auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

.menu {
  position: relative;
  text-align: center;
}

.menu>li {
  position: relative;
  display: inline-block;
}

@media (min-width: 1025px) {
  .menu>li:hover .sub-menu-wrap {
    padding-top: 5px;
    pointer-events: auto;
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .menu>li {
    display: block;
    text-align: left;
    border-bottom: 1px solid #FFF;
  }
}

.menu>li>a {
  display: block;
  font-size: 14px;
  color: #FFF;
  padding: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 1025px) {
  .menu>li>a:hover {
    background: #0067a3;
  }
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  padding-top: 0;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1024px) {
  .sub-menu-wrap {
    opacity: 1;
    position: static;
    -webkit-transition-property: none;
    transition-property: none;
    pointer-events: auto;
    display: none;
  }
}

.sub-menu {
  width: 250px;
  padding: 10px 0;
  border-top: none;
  background: rgba(0, 170, 221, 0.9);
}

.sub-menu>li {
  display: block;
}

.sub-menu>li>a {
  text-align: left;
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  -webkit-transition: all .3s;
  color: #fff;
  transition: all .3s;
}

.sub-menu>li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.sub-menu>li:hover>a {
  color: #0067a3;
}

.showMenu {
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
}

.menu-button {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 25px;
  left: 3%;
  z-index: 9998;
  cursor: pointer;
  display: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  .menu-button {
    display: block;
  }
}

.menu-rotate {
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu-button div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 4px;
  background: #FFF;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu-button div:before,
.menu-button div:after {
  content: '';
  width: 30px;
  height: 4px;
  position: absolute;
  background: #FFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-button div:before {
  transform: translateY(-10px);
}

.menu-button div:after {
  transform: translateY(10px);
}

.menu-button-active {
  background: transparent !important;
}

.menu-button-active:before {
  transform: translateY(0) rotate(45deg) !important;
  background: #fff !important;
}

.menu-button-active:after {
  transform: translateY(0) rotate(-45deg) !important;
  background: #fff !important;
}

.map {
  position: relative;
  cursor: pointer;
}

.map #localmap {
  height: 300px;
  width: 100%;
}

footer {
  position: relative;
  background: #0067a3;
  padding: 50px 15px 0;
  background-size: cover;
}

footer .footer-logo {
  text-align: center;
  margin-bottom: 50px;
}

footer .info-box {
  padding-top: 30px;
}

footer p {
  position: relative;
  font-size: 14px;
  color: #FFF;
  margin-bottom: 20px;
  padding-left: 25px;
  max-width: 300px;
}

footer p img {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@media (max-width: 800px) {
  footer p {
    margin: 0 auto 15px;
  }
}

footer .footer-menu {
  padding-left: 2em;
}

footer .footer-menu a {
  font-size: 12px;
  display: block;
  color: #FFF;
  padding: 6px 0;
  text-transform: uppercase;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

footer .footer-midia {
  max-width: 500px;
  margin: 0 auto 30px;
}

footer .footer-midia .instagram-link {
  font-family: 'MerriweatherSans-Bold';
  font-size: 14px;
  display: block;
  text-align: right;
  color: #FFF;
  margin-bottom: 10px;
  font-style: italic;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

footer .footer-midia .instagram-link:hover {
  color: #00aadd;
}

footer .footer-social-list li {
  display: inline-block;
}

footer .footer-social-list a {
  color: #FFF;
  padding: 0 5px;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

footer .footer-social-list i {
  font-size: 30px;
}

.credit {
  background: #0067a3;
  border-bottom: 8px solid #00aadd;
}

.credit div {
  display: flex;
  align-items: right;
  color: #FFF;
  font-size: 14px;
}

.credit p {
  margin-left: auto;
}

.credit img[src*="logo-soma-virtual"] {
  margin: 0 10px;
}

/*=============================
    BANNERS
===============================*/
.banner {
  position: relative;
}

.banner-nav {
  width: 40px;
  line-height: 40px;
  border: 2px solid #FFF;
  color: #FFF;
  text-align: center;
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.banner-nav:hover {
  background: #0067a3;
  border-color: #0067a3;
}

.banner-nav-prev {
  left: 18.5%;
}

@media (max-width: 1024px) {
  .banner-nav-prev {
    left: 5%;
  }
}

.banner-nav-next {
  right: 18.5%;
}

@media (max-width: 1024px) {
  .banner-nav-next {
    right: 5%;
  }
}

.banner-item {
  height: 800px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-item img {
  max-width: initial;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 1366px) {
  .banner-item {
    height: 600px;
  }
}

@media (max-width: 1024px) {
  .banner-item {
    height: 500px;
  }
}

@media (max-width: 640px) {
  .banner-item {
    height: 280px;
  }
}

.legenda {
  position: absolute;
  text-align: center;
}

@media (max-width: 1024px) {
  .legenda {
    padding: 15px;
    max-width: 350px;
  }
}

.legenda h1 {
  font-family: 'MerriweatherSans-Bold';
  font-size: 40px;
  line-height: 1.3;
  text-transform: uppercase;
  opacity: 0;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .legenda h1 {
    font-size: 28px;
  }
}

@media (max-width: 640px) {
  .legenda h1 {
    font-size: 20px;
  }
}

.legenda h4 {
  color: #FFF;
  text-transform: uppercase;
  opacity: 0;
  margin-bottom: 0;
}

.banner-holder .slick-current .legenda h1 {
  -webkit-animation: showLegenda 1.5s .3s forwards;
  animation: showLegenda 1.5s .3s forwards;
}

.banner-holder .slick-current .legenda h4 {
  -webkit-animation: showLegenda .8s .8s forwards;
  animation: showLegenda 1.5s .8s forwards;
}

@keyframes showLegenda {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes showSubLegenda {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.branca {
  color: #FFF;
}

.escura {
  color: #4b616c;
}

.centro {
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centro h1 {
  text-align: center;
}

.esquerda {
  top: 50%;
  left: 25%;
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.direita {
  top: 50%;
  right: 25%;
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.inferior {
  left: 50%;
  bottom: 100px;
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.inferior h1 {
  text-align: center;
}

.inferior_esquerda {
  left: 25%;
  bottom: 100px;
}

.inferior_direita {
  right: 25%;
  bottom: 100px;
}

@media (max-width: 1024px) {

  .inferior,
  .inferior_esquerda,
  .inferior_direita {
    bottom: 100px;
  }
}

@media (max-width: 640px) {

  .esquerda,
  .direita,
  .inferior_esquerda,
  .inferior_direita {
    text-align: center;
    top: auto;
    left: 50%;
    bottom: 40px;
    right: auto;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

.banner-holder {
  position: relative;
}

.banner-holder .slick-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.banner-holder .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.banner-holder .slick-dots li button {
  border: none;
  width: 10px;
  height: 10px;
  color: #FFF;
  cursor: pointer;
  background: #FFF;
  font-size: 0;
  border-radius: 50%;
}

.banner-holder .slick-dots li.slick-active button {
  background: #00aadd;
}

/*===============================
    HOME
=================================*/
.section {
  padding: 50px 0;
}

@media (max-width: 640px) {
  .section {
    padding: 30px 0;
  }
}

.presentaion-section {
  background: url("img/bg-bubbles.png") left center no-repeat;
  z-index: 1;
}

.quick-links {
  display: flex;
  flex-flow: row wrap;
}

@media (max-width: 640px) {
  .quick-links {
    margin-bottom: 30px;
  }
}

.quick-links div {
  width: 50%;
  border: 2px dotted #57ce5b;
  padding: 5px;
}

.quick-links div:nth-child(1) {
  border-bottom: none;
}

.quick-links div:nth-child(2) {
  border-left: none;
  border-bottom: none;
}

.quick-links div:nth-child(4) {
  border-left: none;
}

.quick-links a {
  display: block;
  height: 150px;
  padding: 30px 20px;
  background: #FFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.quick-links a:hover {
  background: #57ce5b;
}

.quick-links a:hover h5 {
  color: #FFF;
}

.quick-links a:hover p {
  color: #FFF;
}

.quick-links a h5 {
  font-size: 16px;
  text-transform: uppercase;
  color: #4b616c;
}

.quick-links a p {
  font-size: 14px;
  color: #00aadd;
}

.centered {
  position: absolute !important;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 640px) {
  .centered {
    position: static !important;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}

.centered .procedures-list {
  max-height: initial;
}

.procedures-list-wrapper {
  position: relative;
}

.procedures-list-wrapper .showProc {
  width: 80px;
  height: 30px;
  line-height: 25px;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 23px;
  text-align: center;
  color: #FFF;
  background: rgba(0, 103, 163, 0.8);
  border-top: none;
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.procedures-list {
  position: relative;
  padding: 18px 10px 10px;
  width: 100%;
  max-width: 360px;
  background: rgba(0, 103, 163, 0.8);
  min-height: 550px;
  max-height: 550px;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.procedures-list li {
  border-bottom: 1px solid #FFF;
}

.procedures-list li:first-child {
  background: #FFF;
  padding: 15px;
  margin-bottom: 20px;
  color: #4b616c;
  text-transform: uppercase;
}

.procedures-list li:first-of-type,
.procedures-list li:last-of-type {
  border-bottom: none;
}

.procedures-list li a {
  display: block;
  font-size: 14px;
  color: #FFF;
  padding: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.procedures-list li a:hover {
  background: #00aadd;
}

.full-list {
  max-height: initial !important;
}

.about-section {
  background: url("img/bg-about.jpg") center center no-repeat fixed;
  background-size: cover;
}

.about-section img {
  margin-bottom: 20px;
  border-radius: 50%;
}

.about-section h4 {
  font-family: 'MerriweatherSans-Bold';
  font-size: 22px;
  color: #FFF;
}

.about-section p {
  font-size: 14px;
  color: #FFF;
  line-height: 2;
  margin-bottom: 20px;
}

.about-section hr {
  max-width: 900px;
  border: 0;
  background: rgba(255, 255, 255, 0.6);
  margin: 0 auto 20px;
  height: 2px;
}

.scheduling-section {
  background: url("img/bg-scheduling.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 100px;
}

@media (max-width: 1024px) {
  .scheduling-section {
    padding-top: 100px;
  }
}

.scheduling-section h2 {
  font-size: 38px;
  color: #6c90bc;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  margin-bottom: 50px;
}

.scheduling-section h2 span {
  color: #4b616c;
  font-size: 26px;
  line-height: 1;
}

.scheduling-section .scheduling-form {
  background: rgba(0, 170, 221, 0.9);
  padding: 30px 20px;
}

.scheduling-section .scheduling-form div:not(:last-of-type) {
  border-bottom: 1px solid #FFF;
}

.scheduling-section .scheduling-form input {
  width: 100%;
  background: transparent;
  color: #FFF;
  height: 65px;
  padding-left: 20px;
  border: none;
}

.scheduling-section .scheduling-form textarea {
  width: 100%;
  background: transparent;
  color: #FFF;
  height: 125px;
  padding-left: 20px;
  border: none;
}

.scheduling-section .scheduling-form textarea::-webkit-input-placeholder {
  color: #FFF;
}

.scheduling-section .scheduling-form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
}

.scheduling-section .scheduling-form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
}

.scheduling-section .scheduling-form textarea:-ms-input-placeholder {
  color: #FFF;
}

.scheduling-section .scheduling-form input:focus {
  border-color: #0067a3;
}

.scheduling-section .scheduling-form input::-webkit-input-placeholder {
  color: #FFF;
}

.scheduling-section .scheduling-form input::-moz-placeholder {
  color: #FFF;
}

.testimonials-section {
  z-index: 1;
}

.testimonials-section h2 {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFF;
  background: #0067a3;
  padding: 60px 0;
  text-align: center;
}

.testimonials-section h2:after {
  content: '';
  border-top: 30px solid #0067a3;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.testimonials-section .testimonials-carousel-wrapper {
  background: #00aadd;
  padding: 50px 0;
}

.testimonials-section .testimonials-carousel .slick-slide {
  padding-top: 50px;
}

.testimonials-section .testimonial {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}

.testimonials-section .testimonial:before {
  content: '';
  width: 28px;
  height: 28px;
  background: url("img/quote-mark.png") center center no-repeat;
  background-size: cover;
  position: absolute;
  right: 100%;
  bottom: 95%;
}

.testimonials-section .testimonial blockquote {
  font-size: 14px;
  color: #FFF;
  text-align: center;
  margin-bottom: 30px;
}

.testimonials-section .testimonial p {
  font-size: 14px;
  color: #FFF;
  text-align: right;
}

.page-content {
  padding-bottom: 100px;
  background: url("img/bg-bubbles.png") left bottom no-repeat;
}

@media (max-width: 640px) {
  .page-content {
    background: transparent;
  }
}

.page-title {
  font-family: 'MerriweatherSans-Bold';
  font-size: 24px;
  text-transform: uppercase;
  color: #4b616c;
  margin-bottom: 40px;
}

.social-share li {
  display: inline-block;
}

.social-share a i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #ababab;
  text-align: center;
  color: #FFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.social-share a i:hover {
  background: #00aadd;
}

.page-equipe .social-share,
.page-oncoclin .social-share,
.page-contato .social-share {
  text-align: center;
}

.doctor-image {
  margin-bottom: 50px;
  text-align: center;
}

.doctor-image img {
  border-radius: 50%;
  border: 2px solid #CCC;
  height: auto;
}

.disease-list {
  margin-bottom: 50px;
}

.disease-list li {
  font-size: 14px;
  color: #4b616c;
  margin-bottom: 15px;
}

.disease-list li.list-header {
  font-size: 36px;
}

.news-item {
  display: block;
  max-width: 280px;
  margin: 0 auto 50px;
}

.news-item a {
  display: block;
}

.news-item figure {
  position: relative;
  height: 250px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 103, 163, 0.4);
}

.news-item figure:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 163, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.news-item figure:hover:after {
  opacity: 1;
}

.news-item figure:hover img {
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.news-item figure img {
  max-width: initial;
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.news-item p {
  font-size: 14px;
  color: #4b616c;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 15px;
}

.post-thumbnail {
  margin-bottom: 30px;
}

.post-thumbnail img {
  height: auto;
  display: block;
}

.pagination {
  text-align: center;
}

.pagination a,
.pagination span {
  width: 30px;
  height: 30px;
  color: #0067a3;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0067a3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.pagination a:hover,
.pagination .current {
  background: #0067a3;
  color: #FFF;
}

.contact-info {
  margin-bottom: 30px;
}

.contact-info p {
  text-align: center;
  color: #4b616c;
}

.doctor-caricature {
  text-align: center;
}

.doctor-caricature img {
  margin-bottom: 20px;
}

.doctor-caricature p {
  font-size: 18px;
}

.doctor-caricature p:nth-of-type(1) {
  color: #4b616c;
}

.doctor-caricature p:nth-of-type(2) {
  color: #00aadd;
  margin-bottom: 20px;
}

.default-form {
  max-width: 630px;
  margin: 0 auto 50px;
  /* messages */
}

.default-form form div {
  margin-bottom: 30px;
}

.default-form input[type="text"],
.default-form input[type="email"],
.default-form input[type="tel"],
.default-form input[type="date"],
.default-form input[type="password"],
.default-form select,
.default-form textarea {
  font-family: inherit;
  width: 100%;
  padding-left: 20px;
  font-size: 16px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  border-top: none;
  border: 1px solid #CCC;
  outline: none;
  background: #FFF;
  color: #4b616c;
}

.default-form input[type="text"],
.default-form input[type="email"],
.default-form input[type="tel"],
.default-form input[type="date"],
.default-form input[type="password"],
.default-form select {
  height: 50px;
  border-radius: 60px;
}

.default-form select option {
  padding: 5px 10px;
  font-size: 18px;
  color: #333;
}

.default-form select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.default-form .select-mask {
  position: relative;
}

.default-form .select-mask .fa {
  content: "";
  position: absolute;
  top: 12px;
  right: 20px;
  pointer-events: none;
  font-size: 25px;
  color: #272525;
  cursor: pointer;
}

.default-form input[type="text"]:hover+label {
  transform: translateX(-100%);
}

.default-form textarea {
  height: 130px;
  padding-top: 10px;
}

.default-form button[type="submit"] {
  border: none;
}

.wpcf7-response-output {
  z-index: 8888;
  width: 100%;
  padding: 10px 0 !important;
  font-size: 16px;
  text-align: center;
  border: none !important;
  margin: 0 !important;
  color: #FFF;
}

.wpcf7-validation-errors {
  background: #00aadd;
}

.wpcf7-mail-sent-ok {
  background: #0067a3;
}

.wpcf7-mail-sent-ng {
  background: #FF4747;
}

.wpcf7-form-control-wrap {
  position: relative;
  display: block;
}

.wpcf7-not-valid-tip {
  position: absolute;
  bottom: 100%;
  right: 10px;
  font-size: 12px !important;
  padding: 3px 6px;
  color: #FFF !important;
  background: #00aadd;
}

.wpcf7-not-valid-tip:after {
  content: '';
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #00aadd;
  position: absolute;
  top: 100%;
  right: 15px;
}

.showForm {
  display: block !important;
}

/*##################################

  PESQUISA

#####################################*/
.search-btn {
  float: right;
  margin-right: 10px;
  margin-top: 6px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .search-btn {
    margin-left: 0;
    padding: 5px;
  }
}

.search-btn .search-inner {
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
  .search-btn .search-inner {
    display: none;
  }
}

.search-btn i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: #FFF;
  text-align: center;
  color: #00aadd;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.search-btn i:hover {
  color: #FFF;
  background: #0067a3;
}

.search-active {
  color: #333 !important;
}

.search-form-wrap {
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(75, 97, 108, 0.8);
  padding: 10px;
}

@media (max-width: 1024px) {
  .search-form-wrap {
    position: static;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
  }
}

.search-form input {
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 15px;
  color: #4b616c;
  font-size: 16px;
}

.search-form input:-moz-placeholder {
  /* Firefox 18- */
}

.search-form input::-moz-placeholder {
  /* Firefox 19+ */
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  background: #FFF;
}

.search-form button:hover {
  color: #FFF;
}

.search-form button span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.search-opened {
  opacity: 1 !important;
  pointer-events: auto !important;
  right: 100%;
}

.search-result {
  display: block;
  padding: 20px;
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.search-result:not(:last-of-type) {
  border-bottom: 1px solid #00aadd;
}

.search-result:hover {
  box-shadow: 5px 0 0 #0067a3 inset;
}

.search-result h3 {
  margin-bottom: 15px;
}

.search-result p {
  margin-bottom: 0;
}

.showSubmenu {
  pointer-events: auto !important;
  opacity: 1 !important;
}

@keyframes hideResponse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes hideResponse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*CLASSES GENERICAS*/
.cf:after {
  display: table;
  clear: both;
  content: "";
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.backToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 15;
  display: none;
  width: 50px;
  height: 50px;
  font-size: 45px;
  line-height: 45px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}

.backToTop i {
  line-height: 1;
}

.pace {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-pointer-events: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 2000;
  width: 100%;
  height: 5px;
  background: #867162;
}

.margin-bottom {
  margin-bottom: 30px;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0;
}

.modal {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.8);
  /* z-index: 9991; */
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content-padding-bottom {
  padding-bottom: 100px;
}

.relative {
  position: relative;
}

@media screen and (min-width: 1023px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
  }

  .main-container {
    margin-top: 164px;
  }

  .relative.menu {
    position: fixed;
    width: 100%;
    top: 116px;
    z-index: 99;
  }

  .mobile-whatsapp-wrapper {
    display: none;
  }

  .informative {
    right: -150px;
    padding-top: 74px;
    padding-bottom: 47px;
    padding-right: 75px;
    padding-left: 227px;
  }
  .informative:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 159px;
    width: 100%;
    background-color: #0067a3;
    z-index: -1;
  }
}

.whatsapp-wrapper {
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 99;
  transition: all .2s ease-in-out;
}

.close-whatsapp {
  background-color: transparent;
  border: 0;
  font-size: 32px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 15px;
}

.whatsapp-wrapper.clicked {
  -ms-transform: translateY(-50%) translateX(100%);
  -webkit-transform: translateY(-50%) translateX(100%);
  transform: translateY(-50%) translateX(100%);
}

.overlay {
  background-color: rgba(2, 103, 177, .9);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  z-index: 90101;
}

.form-wrapper-all {
  -ms-transform: translateY(-50%);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
  -webkit-transform: translateY(-50%);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
  display: none;
  font-size: 0;
  left: 0;
  margin: auto;
  min-height: 460px;
  position: absolute;
  right: 0;
  top: 50%;
  padding-bottom: 40px;
  transform: translateY(-50%);
  width: 520px;
}

.form-pickers {
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  background-color: #f1f2f2;
  border: 0;
  color: #58595b;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  height: 47px;
  transition: all .2s ease;
  vertical-align: top;
  width: 32.666%;
}

.form-pickers.active,
.form-pickers:hover {
  background-color: #87c93a;
  color: #fff;
}

.form-pickers+.form-pickers {
  margin-left: .6667%;
}

.form-wrapper-all .instance:not(.active) {
  display: none;
}

.leave-message {
  text-align: center;
}

.leave-title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  padding-top: 40px;
  width: 100%;
}

.leave-message .fields {
  margin: auto;
  max-width: 300px;
}

.leave-message .fields .full {
  clear: both;
}

.field-wrapper.full {
  width: 100%;
}

.leave-message .field-wrapper {
  display: block;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.field-wrapper {
  display: block;
}

.field-green {
  border: 1px solid #87c93a;
  border-radius: 4px;
  height: 38px;
  padding: 5px 10px;
  width: 100%;
}

.call-me-later {
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  background-color: #87c93a;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  height: 42px;
  transition: all .2s ease;
  width: 300px;
  margin-top: 10px;
}

.field-wrapper .icon {
  background-color: #fff;
  bottom: 1px;
  height: 36px;
  left: 2px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 36px;
}

.field-wrapper .icon i {
  color: #87c93a;
  font-size: 16px;
  line-height: 34px;
}

.callers {
  font-size: 14px;
  margin-top: 18px;
}

.callers .number {
  background-color: red;
  border-radius: 50%;
  color: #fff;
  padding: 3px 8px;
}

.field-green.has-icon {
  padding-left: 40px;
}

.leave-message .field-wrapper .icon {
  background-color: #fff;
  bottom: 1px;
  height: 36px;
  left: 2px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 36px;
}

.leave-message .field-wrapper .icon i {
  color: #87c93a;
  font-size: 16px;
  line-height: 34px;
}

.form-pickers.active i,
.form-pickers:hover i {
  color: #00aeef;
}

.form-pickers i.alt {
  font-weight: 300;
}

.form-pickers i {
  color: #87c93a;
  font-size: 16px;
  margin-right: 5px;
}

@media screen and (max-width: 997px) {
  .modal-form {
    padding: 50px 15px 30px;
  }

  .promotion-form-wrapper {
    max-height: 100vh;
    overflow-y: scroll;
  }

  .form-wrapper-all {
    width: 100%;
  }

  .whatsapp-wrapper, .call-cta-wrapper {
    display:none;
  }

  .mobile-whatsapp-wrapper {
    position: fixed;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    z-index: 90001; 
    font-size: 0;
  }

  .mobile-whatsapp-btn {
    height: 40px; 
    background-color: #0067a3;
    color: #FFF;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    text-align: center;
    font-weight: 700; 
    width: 50%;
    border: 0;
  }

  a.mobile-whatsapp-btn {
    line-height: 38px;
    border-left: 1px solid #FFF;
  }

  .cups {
    display: none;
  }

  .jeff-persona {
    display: none;
  }

  .informative {
    max-height: 100vh;
    overflow-y: scroll;  
    padding: 40px 15px;
  }
}

.form-wrapper-all br {
  display: none;
}

.close-overlay {
  border: 0;
  color: #fff;
  padding: 0;
  position: absolute;
  background: 0 0;
  /* display: none; */
  font-size: 32px;
  right: 10px;
  top: 10px;
  z-index: 11;
}

.call-cta-wrapper {
  bottom: 38px;
  position: fixed;
  right: 38px;
  text-align: center;
  z-index: 10;
  transition: all .35s ease-in-out;
}

.call-cta-wrapper.clicked {
  transform: translateY(-10px); 
  opacity: 0;
  visibility: hidden;
}

.tooltip {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  min-height: 148px;
  padding: 22px 14px 19px;
  position: relative;
  text-align: center;
  width: 165px;
}

.call-cta {
  margin-top: 30px;
}

.tooltip-text {
  font-size: 14px;
  margin-bottom: 11px;
}

.tooltip:after {
  border: 10px solid transparent;
  border-top-color: #fff;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -10px;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}

.confirm {
  -o-transition: .2s ease;
  -webkit-transition: .2s ease;
  background-color: #87c93a;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 30px; 
  margin-left: auto;
  margin-right: auto;
  transition: .2s ease;
  width: 78px;
}

.close-phone-cta {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: rgba(0, 170, 221, .3);
  color: #000;
  font-size: 20px;
  border: 0;
  line-height: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.confirm:hover {
  border-color: #87c93a; 
  color: #87c93a; 
  background-color: #FFF;
}

button {
  cursor: pointer;  
}

@media screen and (max-width: 1650px) and (min-width: 997px)  {
  .tooltip{
    min-height: 140px;
    padding: 15px 10px 12px;
    width: 140px;
  }
  .call-cta {
    margin-top: 20px;
    max-width: 70px;
  }
}


.informative {
  max-width: 811px; 
  width: 100%;
  margin: auto;
  background-color: #16a7d7;
  border: 5px solid #FFF; 
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);
  left: 0;  
  margin: auto;
  box-shadow: 13px 15px 12px 0px rgba(0, 0, 0, 0.2);
}

.informative-name {
  color: #FFF;
  font-size: 24px;
  line-height: 34px;
}

.informative-text {
  font-size: 20px; 
  color: #FFF; 
  line-height: 30px; 
  font-family: 'MerriweatherSans-light';
  margin-bottom: 35px;
}

.informative b {
  font-family: 'MerriweatherSans-Bold';
}

.informative-text.slightly-bigger {
  font-size: 24px; 
  margin-bottom: 120px;
}

.informative-text.extra-spaced {
  margin-bottom: 30px;
}

.cups {
  position: absolute;
  bottom: -67px; 
  right: -107px;
  z-index: 2;
}

.jeff-persona {
  position: absolute;
  left: -300px; 
  bottom: -6px;
}

/* ----------------------- */

/*# sourceMappingURL=style.css.map */
